[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "*"
"aws-cdk.aws-iam" = "*"
"aws-cdk.aws-ecs" = "*"
"aws-cdk.aws-ecr" = "*"

[dev-packages]

[requires]
python_version = "3.9"
